<html>
    <head>
        <%- include("head.ejs", {}) %>
        <title>about</title>
    </head>
    <body>
        
        <script src="background.js"></script>
        
        <header>
            <%- include("nav.ejs", {}) %>
        </header>
        <main>
            <div class="aboutContent">
                <h2>About</h2>
                <p class="stitches">xxxxxxxxxxxxxxxxxxxxxxx</p>

                <p></p>
                <p>SQUARES TO SHARE is a collaborative art project where anyone can create and share their own square of art to be a part of a digital blanket. inspired by afghan blankets and granny squares, everyone can bring their own unique style to make one big blanket. simply go to the <a href="/share" class="inlineLink">share</a> page and upload your own work!</p>
                <p>not an artist? no worries! the <a href="/create" class="inlineLink">create</a> page can help you easily generate, save, and share your own square.</p>
            </div>
        </main>
        <%- include("footer.ejs", {}) %>
    </body>
</html>