<html>
    <head>
        <%- include("head.ejs", {}) %>
        <title>admin login</title>
    </head>
    <body>
        <header>
            <%- include("nav.ejs", {}) %>
        </header>
        <main>

            <script src="background.js"></script>

            <div class="adminLoginContent">
                <h2>Admin Login</h2>
                <p class="stitches">xxxxxxxxxxxxxxxxxxxxxxx</p>

                <form method="POST" action="/authenticate">

                    <p class="formTitles">username:</p>
                    <input type="text" name="username" placeholder="">
                    <p></p>

                    <p class="formTitles">password:</p>
                    <input type="password" name="password" placeholder="">
                    
                    <input type="submit" name="submitButton" value="submit!">

                </form>

            </div>
        </main>
    </body>
</html>