<div class="title" >
    <p class="stitches">xxxxxxxxxxx</p>
    <h1><a href="/">Squares to Share</a></h1>
    <p class="stitches">xxxxxxxxxxx</p>
</div>
<nav>
    <h3><a href="/">home</a></h3>
    <h3><a href="/share">share</a></h3>
    <h3><a href="/create">create</a></h3>
    <h3><a href="/about">about</a></h3>
</nav>